body {
    font-family: 'Roboto', sans-serif;
    margin: 0 3.125;
}

.container {
    display: flex;
    gap: 3.125rem;
}

#posts {
    width: 200px;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option {
    display: flex;
    gap: 1.5rem;
}

#message {
    color: red;
}

i {
    cursor: pointer;
}


